<footer>
  <nav>
    <div class="links">
      <a href="https://gitlab.com/Alamantus/Readlebee" class="pseudo button">Repo</a>
      <a href="https://gitter.im/Readlebee/community" class="pseudo button">Chat</a>
    </div>
  </nav>
</footer>
