<header>
  <nav>
    <div class="brand">
      <a href="./">
        <span class="title">Unnamed Book Tracker</span>
      </a>
    </div>

    <!-- responsive-->
    <input id="navMenu" type="checkbox" class="show">
    <label for="navMenu" class="burger pseudo button">&#8801;</label>

    <div class="menu">
      <form action="/search" style="display: inline-block;">
        <label>
          <input type="text" id="headerSearchBar" name="for" placeholder="Search" value="{{searchTerm}}">
        </label>
      </form>
      <a href="/login" class="pseudo button">Log In</a>
      <a href="/logout" class="pseudo button">Log Out</a>
    </div>
  </nav>
</header>
