<h2 class="subtitle">An attempt at a viable alternative to Goodreads</h2>

<article class="flex two">
  <div class="half">
    <div class="card">
      <header>
        <p>Still gotta figure out a design.</p>
      </header>
    </div>
  </div>
  <div class="half">
    <div class="card">
      <header>
        <p>It's early days, my friends!</p>
      </header>
    </div>
  </div>
</article>