<footer>
  <nav>
    <div class="links">
      <a href="https://gitlab.com/Alamantus/book-tracker" class="pseudo button">Repo</a>
      <a href="https://gitter.im/book-tracker/general" class="pseudo button">Chat</a>
    </div>
  </nav>
</footer>
