<header>
  <nav>
    <div class="brand">
      <a href="./">
        <h1>Unnamed Book Tracker</h1>
      </a>
    </div>

    <!-- responsive-->
    <input id="navMenu" type="checkbox" class="show">
    <label for="navMenu" class="burger pseudo button">&#8801;</label>

    <div class="menu">
      <form action="/search" style="display: inline-block;">
        <label>
          <input type="text" id="headerSearchBar" name="for" placeholder="Search" value="{{searchTerm}}">
        </label>
      </form>
      <a href="https://gitlab.com/Alamantus/book-tracker" class="pseudo button">Repo</a>
      <a href="https://gitter.im/book-tracker/general" class="pseudo button">Chat</a>
    </div>
  </nav>
</header>
