{{#> layout }}

{{#*inline "page-content-block" }}
<section>
  <h2 class="subtitle">You are logged in!</h2>

  {{#each statuses }}
  <article class="card">
    <header>
      <p>A status about {{title}}</p>
    </header>
    <footer>
      <button>Like!</button>
      <button class="small dangerous">Dislike!</button>
    </footer>
  </article>
  {{/each}}

</section>
{{/inline}}

{{/layout}}