<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="An attempt at a viable alternative to Goodreads">
  <meta name="keywords" content="books, tracking, lists, bookshelves, bookshelf, rating, reviews, reading">

  <link rel="stylesheet" href="/styles/index.css">{{!-- This is controlled by the resources router. --}}
</head>

<body>
{{#> header-block }}
  {{> header }}
{{/header-block}}

<main class="container">
{{#> page-content-block }}
  {{!-- Wrap the actual page content in {{#*inline "page-content-block"}} to insert it here --}}
{{/page-content-block}}
</main>

{{#> footer-block }}
  {{> footer }}
{{/footer-block}}

{{#> scripts-block }}
{{/scripts-block}}
</body>

</html>