{{#> layout }}

{{#*inline "page-content-block"}}
<section>
  <h2 class="subtitle">An attempt at a viable alternative to Goodreads</h2>

  <article>

    {{#each results }}
    <div class="card">
      <header>
        
        {{#each covers }}
        <img src="{{this}}" />
        {{/each}}

        <h1 class="title">{{title}}</h1>
        
        {{#each authors }}
        <h2 class="subtitle">{{this}}</h2>
        {{/each}}

      </header>
    </div>
    {{/each}}

  </article>
</section>
{{/inline}}

{{/layout}}