{{#> layout }}

{{#*inline "page-content-block" }}
<section>
  {{#if message }}
  <article class="card" style="background-color:cornflowerblue;color:white;width:100%;">
    {{ message }}
  </article>
  {{/if}}

  {{#if loggedIn }}
    {{> home-logged-in }}
  {{ else }}
    {{> home-logged-out }}
  {{/if}}
  
</section>
{{/inline}}

{{/layout}}