{{#> layout }}

{{#*inline "page-content-block" }}
<section>

  <article class="card">
    <form action="/login-validate" method="POST">
      <label>
        <span>Email</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
      <input type="submit" value="Log In!">
    </form>
  </article>
  
</section>
{{/inline}}

{{/layout}}